.main
{
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    /*box-shadow: 0 0 1px 1px lightgray;*/
    margin: 8px;
    /*border: 1px dashed lightseagreen;*/
    box-shadow: 0 0 3px 1px #d6e9e9;
    padding: 15px;
}
